<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Opret projekt',stylesheet='/styles/formstyle.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<section class="form-header">
    <h1>Opret projekt</h1>
</section>
<section class="form">
    <form action="/opretProjekt" method="post" class="submitField">
        <label for="projectName">Projekt-titel</label><br>
        <input type="text" id="projectName" name="projectName" placeholder="Navn på projektet" required><br>

        <label for="project-description">Beskrivelse</label><br>
        <input class="description" type="text" id="project-description" name="project-description"
               placeholder="Beskrivelse af projekt" required><br>

        <label for="deadline">Dato for projektets deadline</label><br>
        <input type="Date" id="deadline" name="deadline" required><br>

        <button class="create-project-button">Opret nyt projekt</button>
    </form>
</section>


</body>
</html>