<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Project',stylesheet='styles/projectstyle.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<section class="headline">
    <h2>Project: </h2>
    <h2 th:text="${project.getName()}"></h2>
</section>


<section class="boxes">
    <section class="box-element-tasks">
        <h3>List of tasks for the project</h3>
        <ul th:each="task : ${tasklist}" class="task">
            <li>
                <h4 th:text="|Task: ${task.getName()}|"></h4>
                <ul th:each="subtask : ${task.getSubtasks()}" class="task">
                    <p th:text="|SubTask: ${subtask.getName()}|"></p>
                    <p th:text="|Beskrivelse: ${subtask.getDesc()}|"></p>
                </ul>
            </li>
            <form th:action="@{/render-subtask-form}" method="Get">
                <input type="hidden" name="create-subtask" th:value="${task.getName()}" />
                <input type="submit" value="Add new subtask to task" class="add-subtask-button" />
            </form>
        </ul>
        <form action="/render-task-form" class="add-task-button">
            <button>Add new task to project</button>
        </form>
    </section>

    <section class="box-element">
        <h3>Project description</h3>
        <p>Projektets deadline:</p>
        <p th:text="${project.getDeadline()}"></p>
        <p th:text="${project.getDesc()}"></p>
    </section>

</section>


</body>
</html>