<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Project',stylesheet='/styles/projectstyle.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<section class="headline">
    <h2>Projekt: </h2>
    <h2 th:text="${project.getName()}"></h2>
</section>
<section class="boxes">
    <section class="description-box">
        <h3>Projekt information</h3>
        <ul class="description-list">
            <li th:text="|Beskrivelse: ${project.getDesc()}|"></li>
            <li th:text="|Deltagere: ${project.getParticipants()}|"></li>
            <li th:text="|Deadline: ${project.getDeadline()}|"></li>
            <li th:text="|Gns. arbejdstimer pr. dag: ${gnstimer}|"></li>
            <li th:text="|${feasible}|"></li>
            <li th:text="|Projekt pris: ${projectprice},- kr.|"></li>
            <a th:href="|/delete-project/${project.getProjectID()}|" class="button">Slet projekt</a>
        </ul>
    </section>

    <section class="box-element-tasks">
        <h3>Liste af projektets opgaver</h3>
        <section th:each="task : ${tasklist}" class="task">
            <ul class="task-header-two">
                <li th:text="|Opgave: ${task.getName()}|"></li>
                <li th:text="|Start dato: ${task.getStartDate()}|"></li>
                <li th:text="|Deadline: ${task.getTaskDeadline()}|"></li>
            </ul>
            <ul th:each="subtask : ${task.getSubtasks()}" class="subtask">
                <li th:text="|delopgave: ${subtask.getName()}|"></li>
                <li th:text="|Beskrivelse: ${subtask.getDesc()}|"></li>
                <li th:text="|Ansvarlig: ${subtask.getWorkerID()}|"></li>
                <li th:text="|Start dato: ${subtask.getStart()} - Deadline: ${subtask.getDeadline()}|"></li>
                <li th:text="|Tid til opgaven: ${subtask.getDuration()}|"></li>
            </ul>
            <a th:href="|/render-subtask-form/${project.getProjectID()}/${task.getTaskID()}|" class="button">Tilføj ny
                delopgave</a>
        </section>
        <a th:href="|/render-task-form/${project.getProjectID()}|" class="button">Tilføj ny opgave</a>
    </section>
</section>
<footer></footer>
</body>
</html>