<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Opret projekt',stylesheet='/styles/formstyle.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>
<section class="form">
    <form action="/create-task" method="post" class="submitField">
        <label for="projectID"></label><br>
        <input type="number" id="projectID" name="projectID" th:value="${projectID}" hidden>

        <label for="task-name">Titel</label><br>
        <input type="text" id="task-name" name="task-name" placeholder="Titel" required><br>

        <label for="task-description">Beskrivelse</label><br>
        <input type="text" id="task-description" name="task-description" placeholder="Beskrivelse" required><br>

        <label for="task-startdate">Start dato</label><br>
        <input type="date" id="task-startdate" name="task-startdate" placeholder="Start dato" required><br>

        <label for="task-duration">Timer</label><br>
        <input type="number" id="task-duration" name="task-duration" placeholder="F.ex 10" required min="1"><br>

        <label for="task-deadline">Slut dato</label><br>
        <input type="date" id="task-deadline" name="task-deadline" placeholder="Slut dato" required><br>
        <button>Bekræft</button>
    </form>
</section>
<footer th:replace="fragments/footer.html"></footer>
</body>
</html>