<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Opret projekt',stylesheet='styles/opretprojekt.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>

<form action="/create-task" method="post" class="submitField">
    <label for="task-name" >Task-titel</label><br>
    <input type="text" id="task-name" name="task-name" placeholder="Task titel" required><br>

    <label for="task-description">Task-beskrivelse</label><br>
    <input type="text" id="task-description" name="task-description" placeholder="Beskrivelse af task" required><br>

    <button>Opret nyt projekt</button>
</form>

</body>
</html>