<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head.html(currentPage='Opret projekt',stylesheet='../styles/opretprojekt.css')"></head>
<body>
<header th:replace="fragments/header.html"></header>

<form action="/create-task" method="post" class="submitField">
    <label for="projectID" >ProjectID:</label><br>
    <input type="number" id="projectID" name="projectID" th:value="${projectID}" hidden>

    <label for="task-name" >Task-titel</label><br>
    <input type="text" id="task-name" name="task-name" placeholder="Task titel" required><br>

    <label for="task-description">Task-beskrivelse</label><br>
    <input type="text" id="task-description" name="task-description" placeholder="Beskrivelse af task" required><br>

    <label for="task-startdate">Task-beskrivelse</label><br>
    <input type="date" id="task-startdate" name="task-startdate" placeholder="Startdate" required><br>

    <label for="task-duration">Task-beskrivelse</label><br>
    <input type="number" id="task-duration" name="task-duration" placeholder="F.ex 10" required><br>

    <label for="task-deadline">Task-beskrivelse</label><br>
    <input type="date" id="task-deadline" name="task-deadline" placeholder="deadline" required><br>
    <button>Opret ny task</button>
</form>

</body>
</html>