.headline{
    background-color:rgb(62, 127, 165);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin:0 auto;
    margin-top: 30px;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-element{
    background-color: rgb(62, 127, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 450px;
}
.box-element-tasks{
    background-color: rgb(62, 127, 165);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-overview {
    background-color: rgb(62, 127, 165);
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0 auto;
    width: 95%
}

h2 {
    display: flex;
    align-self: start;
    font-family: "Malgun Gothic";
    font-size: 60px;
    font-weight: bold;
    color: white;
    padding-left: 30px;
}

h3 {
    display: flex;
    align-self: start;
    font-family: "Malgun Gothic";
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

p {
    font-family: "Malgun Gothic";
    font-weight: bold;
    font-size: 20px;
    color: black;
    padding-right: 40px;
    padding-top: 7px;
    align-self: center;
    padding-left: 20px;
    margin-left: -40px;
}

p.white{
    font-family: "Malgun Gothic";
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding-right: 40px;
    padding-top: 7px;
    align-self: center;
    padding-left: 20px;
}

.task-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;

}

.task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:30px;
    margin-right:30px;
    margin-bottom: 10px;
    background-color: white;
    border: solid 3px black;
}

.subtask{
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px black;
}

h4{
    font-family: "Malgun Gothic";
    font-size: 35px;
    font-weight: bold;
    color: black;
    margin-left: -40px;
    display: flex;
    justify-content: center;
    border-bottom: solid 3px black;
}

.add-task-button{
    align-self: center;
    margin-bottom: 10px;
}

.box-element-tasks li{
    list-style-type: none;
}

.button{
    display: flex;
    justify-content: center;
    padding: 3px 23px;
    margin-bottom: 10px;
    border:2px solid black;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"Segoe UI";
    font-weight:400;
    color:white;
    background-color:rgb(62, 127, 165);
    text-align:center;
    margin-top: 5px;
    width: 40%
}

.button:active{
    background-color:dodgerblue;
}

