.projectlist{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    flex-wrap: wrap;
    position: relative;
}

h2{
    display: block;
    font-size: 1.45em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Malgun Gothic";
    text-transform: uppercase;
}

p{
    margin: 5px 0 5px 0;
    font-weight: 500;
    max-height: 60%;

    display: block;
    font-size: 0.85em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Malgun Gothic";
    text-transform: uppercase;
}

.line{
    position: relative;
    display: inline-block;
    padding-bottom: 65px;
    margin-bottom: 65px;
    border-bottom: solid black 2px;
    text-align: left;
    width: 300px;
    height: 200px
}

.button{
    display: inline-block;
    font-family:"Malgun Gothic";
    color: #FF325A;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
}

.button:hover{
    background-color:white;
    text-decoration: underline #FF325A;
}
