.projectlist{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

h2{
    margin-top: 5px;
    font-size: 20px;
    font-family: "Segoe UI";
}

a.line{
    border-bottom: solid 2px black;
    list-style-type: none;
    width: 300px;
    height: 200px;
}

a.button{
    display:inline-block;
    padding: 3px 23px;
    margin:1.5px;
    border:2px solid white;
    box-sizing: border-box;
    text-decoration:none;
    font-family:"Segoe UI";
    font-weight:400;
    color:white;
    background-color:rgb(62, 127, 165);
    text-align:center;
    position:relative;
}

a.button:active{
    background-color:dodgerblue;
}
